*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: black;
    color: whitesmoke;
    padding: 15px;
}
ul,li,h1{
    display: inline;
}
ul{
    margin-left: 60%;
}
li
{
    color: grey;
}
li:hover{
    color: white;
    cursor: pointer;
}
input{
    width: 60%;
    padding: 15px;
}
.searchbar{
    margin: 70px;
    text-align: center;
}
img{
    height: 270px;
    width: 270px;
    border-radius:15px;
}
.box{
    border-color: black;
    border-width: 4px;
    border-radius:12px;
    border-style: solid;
    display: inline-block;
    width: 300px;
    padding:20px;
}
.products{
    text-align: center;
    padding: 30px;
}
.box:hover{
    background-color: black;
    cursor: pointer;
    color: white;
}
h2{
    margin:50%;
}
.about{
    text-align: center;
    margin-top: 4%;
    padding: 25px;
}
.contact{
    text-align: center;
    cursor: pointer;
}
/* small changes */
.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about p{
    margin-top:20px;
    width:700px;
    height:100px;
    display: flex;
    align-items: center;
    justify-content:center;
}